---
layout: page
title: Blog
---
  
{% assign postsByYear =
  site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

{% for year in postsByYear %}

<ul class="posts">
    <h3>{{ year.name }}</h1>

  {% for post in year.items %}  
    <li itemscope>
        <a href="{{ post.url }}">{{ post.title }}</a>
           <span class="entry-date">
              <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date |  date_to_string  }}</time>
          </span>     
    </li>
  {% endfor %}
 
</ul>
{% endfor %}
