            <div class="notepad-author-info">
                <div class="row">
                    <section class="notepad-post-author small-12 columns">
                        
                            <img src="{{site.url}}/public/images/{{ site.owner.avatar }}" class="notepad-post-author-avatar" alt="{{ site.owner.name }}'s photo">
                        
                        
                            <span class="author-label">Author</span>
                            <h1>{{ site.owner.name }}</h1>
                        
                        
                            <p><a href="mailto:{{ site.owner.email }}" class="author-website">{{ site.owner.email }}</a></p>
                        
                        
                            <p>{{ site.owner.description }}</p>
                        
                    </section>
                </div>
            </div>

<div class="card">
  <div class="card-block">
    <h6 class="card-subtitle mb-2 text-muted">Author</h6>
              <h4 class="card-title">{{ site.owner.name }}</h4>
    
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div class="card">
  <div class="card-block">
<div class="media">
  <img class="d-flex align-self-start mr-3" src="..." alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">Top-aligned media</h5>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>
</div>
                </div>
</div>
