<div class="card">
  <div class="card-block">
    <div class="media">
        <img class="d-flex align-self-center mr-3" src="{{site.url}}/public/images/{{ site.owner.avatar }}" alt="Justin Kelly">
        <div class="media-body">
            <h6 class="card-subtitle mb-2 text-muted">Author</h6>
            <h4 class="card-title">{{ site.owner.name }}</h4>
            <p>{{ site.owner.description }}</p>
            <a href="#" class="card-link">Contact me</a>
            <a href="https://twitter.com/intent/follow?screen_name=_justin_kelly" class="card-link">Twitter</a>
         </div>
     </div>
  </div>
</div>
