<article id="comment{{ include.index }}" class="js-comment comment">

	<div class="comment__content-wrapper">
		<div class="comment-author-name">
			{{ include.name }} 
			
				{% if include.date %}
				{% if include.index %}<i><a href="#comment{{ include.index }}">{% endif %}
				<time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: '%d %b %Y' }}</time>
				{% if include.index %}</a></i>{% endif %}
			{% endif %}
		</div>
		
	
		<div class="comment__body">
			{{ include.message | markdownify }}
		</div>
	</div>
</article>
