{% capture post_slug %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}{% endcapture %}

<section class="comments">
	<div class="constrain--body">
		<div class="comments__existing js-comments" {% if site.data.comments[post_slug] == null %}aria-hidden="true"{% endif %}>

			{% if site.data.comments[post_slug] %}
			
			<h3 class="comment_heading">Comments</h3>
				{% assign comments = site.data.comments[post_slug] | sort %}
				
				{% for comment in comments %}
					{% assign email = comment[1].email %}
					{% assign name = comment[1].name %}
					{% assign date = comment[1].date %}
					{% assign message = comment[1].message %}

					{% include comment.html index=forloop.index email=email name=name url=url date=date message=message %}
				{% endfor %}
			{% endif %}
		</div>

		<h3>Leave a comment</h3>
		{% include new_comment.html %}
	</div>
</section>
