<article id="comment{{ include.index }}" class="js-comment comment">
	<div class="comment__avatar-wrapper">
		<img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=100">
	</div>
	<div class="comment__content-wrapper">
		<div class="comment-author-name">
			{{ include.name }}
		</div>
		
		<div class="comment-timestamp">
			{% if include.date %}
				{% if include.index %}<a href="#comment{{ include.index }}">{% endif %}
				<time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: '%d %b %Y' }}</time>
				{% if include.index %}</a>{% endif %}
			{% endif %}
		</div>
		<div class="comment__body">
			{{ include.message | markdownify }}
		</div>
	</div>
</article>
