
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function() {

    //Comments link using Google Plus
    //Refer: http://blog.justin.kelly.org.au/google-plus-octopress/

    //config
    $google_plus_id = '118359435432651949322'; //set as your g+ id number
    $google_api = 'AIzaSyAVOM8bfw9bFnqT4G2E-KDu8LAxnMA2Omw'; //get a google api key
    $google_sort = 'best'; //default sort/search methoth best or recent
    $comment_start = "<h3>Comments?</h3><p>Join the discussion at the <a href='"; //define the leadign text of your comments link
    $comment_end = "'>Google+ post</a></p>" //define the trailing text of your comments link

    //grab page url to be search - have stripped http(s)
    $post_link = encodeURI(window.location.host + window.location.pathname);

    //creat the google plus api search url
    function g_url($post_link, $google_sort, $google_api) {

        $google_query_url = "https://www.googleapis.com/plus/v1/activities?query=" +
            $post_link +
            "&maxResults=20&orderBy=" + $google_sort +
            "&fields=id%2Citems(actor(displayName%2Cid%2Curl)" +
            "%2Cid%2Cobject(attachments(id%2Curl)%2Curl))%2Ctitle&key=" + $google_api;

        return $google_query_url;
    }
    $success = false;

    //search google plus for posts with links to this post - where author is blog owner
    $.getJSON(g_url($post_link, $google_sort, $google_api))
        .then(function(data) {
            jQuery.each(data.items, function(i, item) {
                if (item.actor.id == $google_plus_id) {
                    $success = true;
                    jQuery('.post').append($comment_start + item.object.url + $comment_end);

                    return false;
                }
            });

            //best search failed so trying with 'recent'
            if ($success == false) {

                $google_sort = 'recent';

                $.getJSON(g_url($post_link, $google_sort, $google_api))
                    .then(function(data) {
                        jQuery.each(data.items, function(i, item) {
                            if (item.actor.id == $google_plus_id) {
                                $success = true;
                                jQuery('.post').append($comment_start + item.object.url + $comment_end);
                                return false;
                            }
                        });
                    });
            }
        });
		
});
</script>
