
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function() {

        $post_link = encodeURI(window.location.host + window.location.pathname);

        $google_plus_id = '118359435432651949322';

        $google_query_url = "https://www.googleapis.com/plus/v1/activities?query=" +
                            $post_link +
                            "&maxResults=20&orderBy=best&fields=id%2Citems(actor(displayName%2Cid%2Curl)" +
                            "%2Cid%2Cobject(attachments(id%2Curl)%2Curl))%2Ctitle&key=AIzaSyAVOM8bfw9bFnqT4G2E-KDu8LAxnMA2Omw";

        jQuery.getJSON($google_query_url,
            function(data) {
                jQuery.each(data.items, function(i,item){
                    if(item.actor.id == $google_plus_id)
                    {
                        jQuery('.post').append( "<h3>Comments?</h3><p>Join the discussion at the <a href='" + item.object.url +"'>Google+ post</a></p>");
                        return false;
                    }
                });
            });
});
</script>
