<form id="post-new-comment" class="form comment_form" role="form" action="{{ site.staticmanUrl }}" method="post">

  <input name="options[redirect]" type="hidden" value="https://blog.justin.kelly.org.au/thanks/">

  <input type="hidden" name="options[slug]" value="{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}">
  <input type="hidden" name="options[parent]" value="{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}">
  <input type="hidden" name="options[origin]" value="{{ site.url }}{{ page.url }}">

  <input type="text" name="company" class="text-field" style="display: none">

  <label class="label" for="message">Comment</label></label>
  <textarea name="fields[message]" class="textarea" rows="4" width="100%" required></textarea></textarea>
  <label for="name" class="label"></label>Name</label>
  <input type="text" name="fields[name]" class="input" required> 
  <label for="_replyto" class="label">Email (will not be public)</label>
  <input type="email" name="fields[email]" class="input">

  <input class="form__field text-field" type="address" name="fields[address]" placeholder="Address (do not fill!)" style="display: none"/>

   <input id="form-subscribe" type="checkbox" class="checkbox" name="options[subscribe]" value="email" class="">
    Notify me of replies by email.

   <div class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>

   <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
   <input type="hidden" name="options[reCaptcha][secret]" value="{{ site.reCaptcha.secret }}">

   <input type="submit" class="button" value="Send">  

</form>
