<form id="post-new-comment" class="form" role="form" action="{{ site.staticmanUrl }}" method="post">
  
    <input name="options[redirect]" type="hidden" value="https://blog.justin.kelly.org.au/thanks/">
  
    <input type="hidden" name="options[slug]" value="{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}">
    <input type="hidden" name="options[parent]" value="{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}">
    <input type="hidden" name="options[origin]" value="{{ site.url }}{{ page.url }}">
    
    <input type="text" name="company" class="text-field" style="display: none">

    <div class="form-group">
      <label for="message">Comment</label></label>
      <textarea name="fields[message]" class="form-control" rows="4" width="100%" required></textarea></textarea>
    </div>

    <div class="form-group">
      <label for="name"></label>Name</label>
      <input type="text" name="fields[name]" class="form-control" required> 
    </div>
    
    
    <div class="form-group">
      <label for="_replyto">Email</label>
      <input type="email" name="fields[email]" class="form-control" required placeholder=" (will not be public)">
    </div>
    
    
    <input class="form__field text-field" type="address" name="fields[address]" placeholder="Address (do not fill!)" style="display: none"/>
    


    <div class="form-group">
        <label for="form-subscribe" class="form__field checkbox__label">
        <input id="form-subscribe" type="checkbox" name="options[subscribe]" value="email" class="checkbox">
        Notify me of replies by email.
        </label>
    </div>
    
    <div class="form-group">
         <input type="submit" class="btn" value="Send">  
    </div>
    
    
</form>