<div class="sidebar fl w-30-l f5 pa4 mt4">
        <h2 class="mt4 tracked-tight primary mb0">
          <a href="https://justin.kelly.org.au"" class="bn no-slide">Justin Kelly</a>
        </h2>
								    
<div class="f6">
           <p>
        <img style="display:inline;" class="left" src="/img/hire.jpg">
        <img style="display:inline;" class="left" src="/img/jk.png">
								   </p>
								   
   <p class="mt0">
       Web Developer | Data Engineer | Business Analytics | Library Technology based in Melbourne, Australia</p>
    </p>
	<p>	 
  <a class="social-icons icon-rounded " href="mailto:justin@kelly.org.au" style="">
<i class="fa icon-envelope-o fa-lg"></i><span>justin@kelly.org.au</span>
				   </a></p>
									  
  <p><a class="social-icons icon-rounded " href="https://twitter.com/_justin_kelly" style="">
<i class="fa icon-twitter fa-lg"></i><span>_justin_kelly</span>
				</a></p>									  
</div>
   
        <nav class="b mt5">
	  <a class="db bn bg-primary white mb1 pl2 no-slide" href="/">About</a>
	  <a class="db bn bg-primary white mb1 pl2 no-slide" href="/blog">Blog</a>
        </nav>
        
<div class="f6">
<p class="social-icons icon-rounded no-margin inline">
  <a class="" href="https://github.com/justinkelly" style=""><i class="fa icon-github"></i></a>					     
  <a class="" href="https://au.linkedin.com/in/justinkellyau" style=""><i class="fa icon-linkedin"></i></a>
  <a class="" href="http://justin.kelly.org.au/+" style=""><i class="fa icon-google-plus"></i></a>
  <a class="" href="http://feeds.feedburner.com/justinkelly" style=""><i class="fa icon-rss"></i></a>
</p>
											    </div>
      </div>
