<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>
        <img style="display:inline;" class="left" src="http://i.minus.com/jToAKPAdoaJIU.jpg">
        <img style="display:inline;" class="left" src="http://i.minus.com/jK158tIHIALF3.png">
   
   
        <p><a href="http://justin.kelly.org.au">Justin Kelly</a><br>
        PHP/Web Developer based in Melbourne, Australia</p>

	<p>
	If you have an idea for a project, I'd love to talk to you about it.

	<a href="mailto:justin@kelly.org.au">justin@kelly.org.au</a>

	  </p>
    </p>

  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

<h4 class="social-icons icon-rounded no-margin ">

  <a class="sidebar-nav-item" href="https://twitter.com/_justin_kelly" style="">
<i class="fa fa-twitter"></i>
_justin_kelly
    </a></h4>
<h4 class="social-icons icon-rounded no-margin ">

  <a class="sidebar-nav-item" href="https://twitter.com/_justin_kelly" style="">
<i class="fa fa-google-plus"></i>
justinkelly0
    </a></h4>
<h4 class="social-icons icon-rounded no-margin ">

  <a class="sidebar-nav-item" href="https://twitter.com/_justin_kelly" style="">
<i class="fa fa-github"></i>
justinkelly
    </a></h4>
<h4 class="social-icons icon-rounded no-margin ">

  <a class="sidebar-nav-item" href="https://twitter.com/_justin_kelly" style="">
<i class="fa fa-linkedin"></i>
    </a>
  <a class="sidebar-nav-item" href="https://twitter.com/_justin_kelly" style="">
<i class="fa bitbucket"></i>
    </a>
  <a class="sidebar-nav-item" href="https://facebook.bom/justin.kelly.org.au" style="">
<i class="fa facebook"></i>
justinkelly
    </a>

</h4>

    <!--a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span-->
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
