<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
        <h2>
          <a href="https://justin.kelly.org.au">Justin Kelly</a>
        </h2>
    <p>
        <img style="display:inline;" class="left" src="/img/hire.jpg">
        <img style="display:inline;" class="left" src="/img/jk.png">
   </p>
								   
   <p>
       Web Developer | Data Engineer | Business Analytics | Library Technology based in Melbourne, Australia</p>
    </p>
	<p>	 
    <a class="header-icons" href="mailto:justin@kelly.org.au" style="">
      <i class="fa icon-envelope-o fa-lg"></i><span>justin@kelly.org.au</span>
	 </a>
 </p>
									  
  <p>
    <a class="header-icons" href="https://twitter.com/_justin_kelly" style="">
<i class="fa icon-twit fa-lg"></i><span>_justin_kelly</span>
		</a>
</p>									  
 </div>

  <nav class="sidebar-nav">
	  <a class="sidebar-nav-item" href="/">About</a>
	  <a class="sidebar-nav-item" href="/blog">Blog</a>
  </nav>

  <div class="sidebar-item">
  <p class="socialimg-icons icon-rounded no-margin inline">
  <a class="" href="https://github.com/justinkelly" style=""><i class="fa icon-github"></i></a>					     
  <a class="" href="https://au.linkedin.com/in/justinkellyau" style=""><i class="fa icon-link-in"></i></a>
  <a class="" href="http://justin.kelly.org.au/+" style=""><i class="fa icon-g-plus"></i></a>
  <a class="" href="http://feeds.feedburner.com/justinkelly" style=""><i class="fa icon-rss"></i></a>
   </p>
  </div>
</div>
