<div class="sidebar fl w-30-l f5 pa4 mt4">
        <h2 class="mt4 tracked-tight primary mb0">
          <a href="/" class="bn no-slide">Zach Holman</a>
        </h2>

        <div class="f6">
          <p class="mt0">Founder of <a href="http://during.com">During</a>, a new kind of calendar to help you during your day.</p>
          <p>Previously at <a href="https://twitter.com/github">GitHub</a> and <a href="https://twitter.com/gild">Gild</a>.</p>
          <p>Advising <a href="https://gitlab.com">GitLab</a>, <a href="https://stackshare.io">StackShare</a>, and <a href="https://dockbit.com">Dockbit</a>.</p>
          <p>Follow me at <a href="https://twitter.com/holman"><span class="ss-twitter f6 primary v-mid"></span> holman</a>.</p>
        </div>

        <nav class="b mt5">
          <a class="db bn bg-primary white mb1 pl2 no-slide" href="/about">About</a>
          <a class="db bn bg-primary white mb1 pl2 no-slide" href="/">Posts</a>
          <a class="db bn bg-primary white pl2 no-slide" href="/talks">Talks</a>
        </nav>

        <div class="mt5 f6">
          <script async="" type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1698&amp;serve=CVYD42E&amp;placement=zachholmancom" id="_carbonads_js"></script>
        </div>

        <div class="mt5">
          <a href="https://twitter.com/share" class="twitter-share-button twitter-share-button-error" data-via="holman" data-twitter-extracted-i1502275834289238588="true">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
