<div class="sidebar fl w-30-l f5 pa4 mt4">
        <h2 class="mt4 tracked-tight primary mb0">
          <a href="/" class="bn no-slide">Justin Kelly</a>
        </h2>
<div class="f6">
           <p>
        <img style="display:inline;" class="left" src="/img/hire.jpg">
        <img style="display:inline;" class="left" src="/img/jk.png">
   
   
        <p><a href="http://justin.kelly.org.au">Justin Kelly</a><br>
        Web Developer | Business Analytics | Library Technology based in Melbourne, Australia</p>

	<p>
	<a href="mailto:justin@kelly.org.au"><i class="fa icon-envelope-o"></i> justin@kelly.org.au</a>
        </p>
    </p>
</div>
        
        <div class="f6">
          <p class="mt0">Founder of <a href="http://during.com">During</a>, a new kind of calendar to help you during your day.</p>
          <p>Previously at <a href="https://twitter.com/github">GitHub</a> and <a href="https://twitter.com/gild">Gild</a>.</p>
          <p>Advising <a href="https://gitlab.com">GitLab</a>, <a href="https://stackshare.io">StackShare</a>, and <a href="https://dockbit.com">Dockbit</a>.</p>
          <p>Follow me at <a href="https://twitter.com/holman"><span class="ss-twitter f6 primary v-mid"></span> holman</a>.</p>
        </div>

        <nav class="b mt5">
          <a class="db bn bg-primary white mb1 pl2 no-slide" href="/about">About</a>
          <a class="db bn bg-primary white mb1 pl2 no-slide" href="/">Posts</a>
          <a class="db bn bg-primary white pl2 no-slide" href="/talks">Talks</a>
        </nav>
        
        
        

  <a class="social-icons icon-rounded " href="https://twitter.com/_justin_kelly" style="">
<i class="fa icon-twitter fa-lg"></i><span>_justin_kelly</span>
    </a>

  <a class="social-icons icon-rounded " href="https://github.com/justinkelly" style="">
<i class="fa icon-github fa-lg"></i><span>justinkelly</span>
    </a>

<p class="social-icons icon-rounded no-margin inline">
  <a class="" href="https://au.linkedin.com/in/justinkellyau" style=""><i class="fa icon-linkedin"></i></a>
  <a class="" href="http://justin.kelly.org.au/+" style=""><i class="fa icon-google-plus"></i></a>
  <a class="" href="http://feeds.feedburner.com/justinkelly" style=""><i class="fa icon-rss"></i></a>
</p>

      </div>
