@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?m7iell');
  src:  url('../font/icomoon.eot?m7iell#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?m7iell') format('truetype'),
    url('../font/icomoon.woff?m7iell') format('woff'),
    url('../font/icomoon.svg?m7iell#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /*font-family: 'icomoon' !important;*/
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-twit:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-g-plus:before {
  content: "\f0d5";
}
.icon-link-in:before {
  content: "\f0e1";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
/*font-awesome*/
.fa {
  display: inline-block;
  font-family: 'icomoon' !important;
  /*font: normal normal normal 14px/1 FontAwesome;*/
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
