// Minimal Form Generic: Resets
input, select, textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 0;
}

// Label
.label {
	display: block;
	margin-bottom: 0.25em;
}

// Input
.input {
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
	background-color: white;
}

.inout:focus {
		border-color: gray;
}

// Checkbox
.checkbox {
  width:auto;
  display:inline;
}

// Textarea
.textarea {
	@extend .input;

	min-height: 100px;
	resize: vertical;
}

.input {
	margin-bottom: 1em;
}
