/* Adjust Lanyon theme */
.page img{
	max-width:100%;
	height:auto;
	margin: 0 auto;
}
.no-margin{
	margin:0;
}
/*
.inline{
	margin:0;
	padding:0;
	display:inline;
}
*/
#sidebar .sidebar-item-top {
	padding-bottom:1px;
}
.page, .post {
	margin-bottom:2em;
}

/* adjust code higlight */
pre.highlight {
    border: 1px solid #dedede;
}

/*adjust image layout*/

.post img {
    display: block;
    max-width: 108%;
    height: auto;
    /*padding: 0.6em 0;*/
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*Adjust related footer */
.related {
    border-top: 0px solid #eee;
    padding-top: 1rem;
}

/*tags page*/

ul.posts {
    list-style-type: none;
    margin-bottom: 2rem;
    padding: 0;
}

ul.posts li span {
    color: silver;
}

.tag-box {
    list-style: none;
    margin: 0;
    padding: 4px 0;
    overflow: hidden;
}

.tag-box.inline li {
    float: left;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 2.5;
}

.tag-box a {
    padding: 4px 6px;
    margin: 2px;
    background-color: #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
}

.tag-box a span {
    vertical-align: super;
    font-size: 10px;
    font-size: 0.625rem;
}

/*Add social icons*/
.social-icons span {
	padding-left: 6px;
}
.social-p{
	margin-bottom: 7px;
}
.iframe-contact{
	border:0;
}
.sharing{
	float:left;
}

.tags{
	float:right;
	margin-top:-17px;
}
/*Cards */
.card {
    margin-bottom: 15px;
}

/* Contact form */
.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  background-color: #255b96;
  color: #ffffff !important;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #3073b3;
  text-decoration: none;
  cursor: pointer;
}
.btn:active,
.btn.active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-lg {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}

.form-control {
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
}


/*Change icons size here*/
.social-icons .fa {
	font-size: 1.6em;
}
.social-p .social-icons .fa {
	font-size: 1.2em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
	margin-right:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 
.social-icons .fa-openid{background-color:#A5C63B;}  
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;} 
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;} 
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-github,.social-icons .icon-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;} 
.social-icons .fa-google-plus,.social-icons .icon-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;} 
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-linkedin,.social-icons .icon-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 
.social-icons .fa-stack-overflow, .social-icons .icon-rss,  .social-icons .fa-rss{background-color:#FF7300;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-twitter,.social-icons .icon-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}

/* Comments */

form.comment_form{
    padding: 1em;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #f7f7f9;
}    
.comment_heading 
{
    border-bottom: 1px solid #eee;
}
.comment_body
{
    margin-left: 1.5em;
    font-size: 0.8em;
    padding-top:3px;
}
.comment_checkbox{
    display:inline;
}
.comment-timestamp {
    font-size: .8em;
    color: #9a9a9a;
}
.comment-timestamp a {
    color: #9a9a9a;
    text-decoration: none;
}
