/*Change icons size here*/
.socialimg-icons .fa {
	font-size: 1.6em;
}
.socialimg-p .socialimg-icons .fa ,.header-icons{
	font-size: 1.2em;
}
a.header-icons {
  color: darkgrey;
  font-size: 1.2em;
	margin-right:5px;
	margin-left:5px;
}
/*Change icons circle size and color here*/
.socialimg-icons .fa , .header-icons{
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
}

.socialimg-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.socialimg-icons.icon-rounded .fa{
	border-radius:5px;
	margin-right:5px;
}
.socialimg-icons.icon-flat .fa{
	border-radius: 0;
}

.socialimg-icons .fa:hover, .socialimg-icons .fa:active {
	color: #FFF;
}
 
.socialimg-icons .fa-openid{background-color:#A5C63B;}  
.socialimg-icons .fa-bitbucket,.socialimg-icons .fa-bitbucket-square{background-color:#003366;} 
.socialimg-icons .fa-bitcoin,.socialimg-icons .fa-btc{background-color:#F7931A;} 
.socialimg-icons .fa-dropbox{background-color:#018BD3;}
.socialimg-icons .icon-envelope-o{background-color:#efefef;color:#268bd2; }  
.socialimg-icons .fa-facebook,.socialimg-icons .fa-facebook-square{background-color:#3C599F;}  
.socialimg-icons .fa-flickr{background-color:#FF0084;}
.socialimg-icons .fa-github,.socialimg-icons .icon-github,.socialimg-icons .fa-github-alt,.socialimg-icons .fa-github-square{background-color:#070709;} 
.socialimg-icons .fa-google-plus,.socialimg-icons .icon-google-plus,.socialimg-icons .fa-google-plus-square{background-color:#CF3D2E;} 
.socialimg-icons .fa-html5{background-color:#E54D26;}
.socialimg-icons .fa-linkedin,.socialimg-icons .icon-linkedin,.socialimg-icons .fa-linkedin-square{background-color:#0085AE;} 
.socialimg-icons .fa-stack-overflow, .socialimg-icons .icon-rss,  .socialimg-icons .fa-rss{background-color:#FF7300;}
.socialimg-icons .fa-skype{background-color:#01AEF2;}
.socialimg-icons .fa-twitter,.socialimg-icons .icon-twitter,.socialimg-icons .fa-twitter-square{background-color:#32CCFE;} 
.socialimg-icons .fa-youtube,.socialimg-icons .fa-youtube-play,.socialimg-icons .fa-youtube-square{background-color:#C52F30;}
