.grey {
    color: #ccc;
}
a {
    color: #268bd2;
    text-decoration: none;
    /* border-bottom: 3px solid #7ef1f9; */
    position: relative;
}
.sidebar {
    border-left: 1px solid #268bd2;
}
h3 {
    margin-top: 4rem;
}
.bg-primary {
    background-color: #0151ba;
}
/* Comments */

form.comment_form{
    padding: 1em;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #f7f7f9;
}    
.comment_heading 
{
    border-bottom: 1px solid #eee;
}
.comment_body
{
    margin-left: 1.5em;
    font-size: 0.8em;
    padding-top:3px;
}
.comment_checkbox{
    display:inline;
}
.comment-timestamp {
    font-size: .8em;
    color: #9a9a9a;
}
.comment-timestamp a {
    color: #9a9a9a;
    text-decoration: none;
}
