.grey {
    color: #ccc;
}
a {
    color: #268bd2;
    text-decoration: none;
    /* border-bottom: 3px solid #7ef1f9; */
    position: relative;
}
.sidebar {
    border-left: 1px solid #268bd2;
}
h3 {
    margin-top: 4rem;
}
.bg-primary {
    background-color: #0151ba;
}
/*code*/
pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace; 
    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
    background: #f4f4f4;
    border: solid 1px #e1e1e1;
    overflow:auto;
} 
code { 
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    display: inline; 
    color: #555555;
    background: #f4f4f4;
}
