.grey {
    color: #ccc;
}
a {
    color: #268bd2;
    text-decoration: none;
    /* border-bottom: 3px solid #7ef1f9; */
    position: relative;
}
.sidebar {
    border-left: 1px solid #0151ba;
}
h3 {
    margin-top: 4rem;
}
