<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

<article class="f4 lh-copy pr6-l pl6-l">
      <div class="fl w-50-l pl4 pr4">
        <div class="content">
          
        {{ content }}
          
      </div>
    </div>

      <div class="fl w-50-l pl4 pr4">
        <div class="content">
<h2> Latest blog posts   </h2> 
		
{% assign postsByYear =
  site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

{% for year in postsByYear limit:15 %}

<ul class="list pa0">
    <h3>{{ year.name }}</h1>

  {% for post in year.items %}  
    <li class="mb4-l mb3">
      <span class="ttu f7 b mr2 tracked grey db-l dn">{{ post.date | date_to_long_string  }}</span>
      <a class="f4" href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
 
</ul>
{% endfor %}
		
		
          
      </div>
    </div>


  </article>

  </body>
</html>
