---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  {% if page.tags != null %}
  <h2>Tags</h2><i class="fa fa-tag"></i>
        <h3>
     {% for tag in page.tags %}
         <a href="/tags#{{ tag | slugify }}-ref">{{ tag }}</a>
          </a>
     	 {% if forloop.last == false %}, {% endif %}
     {% endfor %}
        </h3>
  </ul>
  {% endif %}
</div>
